*{
    text-decoration: none;
    font-family: poppins, sans-serif;
}

.navbar {
  /* background-color: lightblue; 
  padding-right: 15px;
  padding-left: ; 
  display: block;
  justify-content: space-between;  pushes left & right apart 
  align-items: center;
  padding: 15px 30px;
  position: fixed;   stays at top 
  top: 0;
  left: 0;
  width: 100%; */
    background-color: lightblue;
    left: 0;
}
